@font-face {
    font-family: 'LaBelleAurore-Regular';
    src: url('../assets/fonts/subset-LaBelleAurore.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JacquesFrancois-Regular';
    src: url('../assets/fonts/subset-JacquesFrancois-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChangaOne-Regular';
    src: url('../assets/fonts/subset-ChangaOne.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChangaOne-Italic';
    src: url('../assets/fonts/subset-ChangaOne-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans-VariableFont_wdth,wght';
    src: url('../assets/fonts/subset-OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Italic-VariableFont_wdth,wght';
    src: url('../assets/fonts/subset-OpenSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

* {
    font-family: OpenSans-VariableFont_wdth,wght, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2em;
    color:white;
    padding:0;
    margin:0;
}

.primary-bg {
    background-color: #081527;
}

.secondary-bg {
    background-color: #231816;
}

.tiertiary-bg {
    background-color: #1a2b0e;
}

.main-bg {
    background-color: #1e1e1e;
}

section {
    display: flex;
    width:100%;
    min-height: 100vh;

    &:nth-child(even) {
        flex-direction: row-reverse;
    }
}

.section-part {
    width:50%;
}

.section-part div {
    padding:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2, #baseline {
    font-family: ChangaOne-Regular, sans-serif;
    font-weight:400;
    font-size:3rem;
    text-transform: uppercase;
    color:white;
}

header {
    height:100vh;
}

.header-bg {
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    z-index:1;
    position: relative;
}

#title h1 {
    color:white;
    font-family: LaBelleAurore-Regular, sans-serif;
}

.navbar-items ul li a {
    list-style: none;
    color:white;
    font-family: JacquesFrancois-Regular, sans-serif;
    font-weight:400;
    font-size:1rem;
    line-height: 2em;
    color:white;
    text-decoration: none;
}

.navbar-items ul li a:hover {
    text-decoration: underline;
}

header {
    height:100vh;
    background-color: #081527;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
}

#title {
    color:white;
    font-family: LaBelleAurore-Regular, sans-serif;
}

.navbar-items ul {
    display:flex;
    gap:1rem;
}
.navbar-items ul li  {
    list-style: none;
    color:white;
    font-family: JacquesFrancois-Regular, sans-serif;
    font-weight:400;
    font-size:1rem;
}

.logo {
    height:2rem;
    width:auto;
}




