@font-face {
    font-family: 'LaBelleAurore-Regular';
    src: url('../assets/fonts/LaBelleAurore-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JacquesFrancois-Regular';
    src: url('../assets/fonts/JacquesFrancois-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChangaOne-Regular';
    src: url('../assets/fonts/ChangaOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChangaOne-Italic';
    src: url('../assets/fonts/ChangaOne-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans-VariableFont_wdth,wght';
    src: url('../assets/fonts/OpenSans-VariableFont_wdth,wght.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Italic-VariableFont_wdth,wght';
    src: url('../assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

section {
    display: flex;
}

