.header-bg {
    background-image: url("../assets/images/header-bg-lieu.webp");
}

.header-bg::after {
    background: linear-gradient(
            rgba(8, 21, 39, 0.5),
            rgba(8, 21, 39, 0.5)
    );
}

.first-img {
    background-image: url("../assets/images/lieu-first.webp");
    background-position: center;
    background-size: cover;
}

.secondary-img {
    background-image: url("../assets/images/lieu-second.webp");
    background-position: center;
    background-size: cover;
}

.tiertiary-img {
    background-image: url("../assets/images/lieu-trois.webp");
    background-position: center;
    background-size: cover;
}


.esprit-bg-1 {
    height:50% !important;
    padding-bottom:0 !important;
    padding-top:0 !important;


}
.esprit-bg-2 {
    background-image: url("../assets/images/sieges.webp");
    height:50% !important;
    padding:0 !important;
    background-position: center;
    background-size: cover;
}