body {
    background: #000;
    color: white;
}

div:has(.day+.opening-time) {
    width: 100%;
    display: flex;
    flex-direction: column;

    & > .day, .opening-time {
        width: 50%;
    }
}