body {
    background: #000;
    color: white;
}

header {
    background: url("../assets/images/header-background-nous-trouver.webp") no-repeat;
    background-size: contain;
}

ul {
    padding: 0;
}

li {
    width: 100%;
    list-style: none;
}

span {
    display: inline-block;
    width: 7em;
}